---
Checks: '
-*,
modernize-*,
mpi-*,
performance-*,
portability-*,
bugprone-*,
-bugprone-assignment-in-if-condition,
-bugprone-bool-pointer-implicit-conversion,
-bugprone-easily-swappable-parameters,
-bugprone-exception-escape,
-bugprone-implicit-widening-of-multiplication-result,
-bugprone-infinite-loop,
-bugprone-redundant-branch-condition,
-bugprone-signal-handler,
-bugprone-signed-char-misuse,
-bugprone-stringview-nullptr,
-bugprone-suspicious-realloc-usage,
-bugprone-unchecked-optional-access,
-bugprone-unhandled-exception-at-new,
cert-err52-cpp,
cert-err60-cpp,
cert-err34-c,
cert-str34-c,
cert-dcl21-cpp,
cert-msc50-cpp,
cert-msc51-cpp,
cert-dcl58-cpp,
cert-flp30-c,
cppcoreguidelines-prefer-member-initializer,
cppcoreguidelines-pro-type-member-init,
cppcoreguidelines-slicing,
cppcoreguidelines-interfaces-global-init,
cppcoreguidelines-pro-type-static-cast-downcast,
cppcoreguidelines-init-variables,
cppcoreguidelines-narrowing-conversions,
google-default-arguments,
google-runtime-operator,
google-explicit-constructor,
hicpp-multiway-paths-covered,
hicpp-exception-baseclass,
misc-*,
-misc-unused-parameters,
-misc-unused-alias-decls,
-misc-unused-using-decls,
-misc-non-private-member-variables-in-classes,
readability-*,
-readability-braces-around-statements,
-readability-container-contains,
-readability-else-after-return,
-readability-function-cognitive-complexity,
-readability-identifier-length,
-readability-implicit-bool-conversion,
-readability-magic-numbers,
-readability-redundant-access-specifiers,
-readability-suspicious-call-argument,
-readability-uppercase-literal-suffix,
'
WarningsAsErrors: ''
HeaderFilterRegex: 'include/LDtkLoader/*.hpp'
AnalyzeTemporaryDtors: false
...

